<header>
    <nav>
        <div class="navbar">
        <div class="logo">
            <img src="/images/logo/logo_1.jpg" alt="growthademy logo" class="logo_image">
        </div>
        <% const navItems = ["home", "articles", "videos", "audios"] %>
        <ul class="nav-links flex-evenly">
            <% navItems.forEach(navlink => { %>
                <% if(navlink == navSelectTitle) { %>
                    <% if (navlink == "home") {%>
                        <li class="links selected"><a href="/"><%= navlink %></a></li>
                    <% } else {%>
                        <li class="links selected"><a href="/<%= navlink %>"><%= navlink %></a></li>
                    <% } %>
                <% } else { %>
                    <% if (navlink == "home") {%>
                        <li class="links"><a href="/"><%= navlink %></a></li>
                    <% } else {%>
                        <li class="links"><a href="/<%= navlink %>"><%= navlink %></a></li>
                    <% } %>
                    <!-- <li class="links"><a href="/<%= navlink %>"><%= navlink %></a></li> -->
                <% } %>
            <% }) %>
        </ul>

        <ul class="contact-links flex-evenly">
            <li><i class="fab fa-instagram contacts" id="instagram"></i></li>
            <li><i class="fab fa-facebook-f contacts" id="facebook"></i></li>
            <li><i class="fab fa-youtube contacts" id="youtube"></i></li>
            <li><i class="fab fa-tiktok"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
        

        <!-- Hamburger for smaller screens only -->
        <!-- <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div> -->
        </div>
    </nav>
</header>