<%- include('partials/commonheadtag') %>

    <link rel="stylesheet" href="/stylesheets/article.css">
    <link rel="stylesheet" href="/stylesheets/selectionbar.css">
    <link rel="stylesheet" href="/stylesheets/article_card.css">
</head>
<body>
    <%- include('partials/header') %>

    <section id="top-content">
        <div class="imagediv">
            <img src="/images/article_canvas.jpg" alt="" class="page-image">
        </div>
        <div class="content">
            <p class="body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut feugiat purus.
            </p>    
        </div>
    </section>

    <%- include('partials/selectionbar') %>

    <main class="cards-grid">
        <% for (var i = 0; i < cardsno; i++) { %>
            <% if (i < 6) { %>
                <div class="article-card">
                    <h2 class="article-title">
                        Lorem ipsum dolor sit amet
                    </h2>
                    <p class="article-date">25 May, 2021 | <%= i %></p>
                    <p class="article-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut feugiat purus. Suspendisse id ipsum a dolor sollicitudin convallis. Sed facilisis egestas nulla at fringilla. Pellentesque in pulvinar ante. Vivamus id tempor nunc. Aenean a est cursus, pulvinar quam dignissim, blandit est. Integer eu velit condimentum, viverra libero eu, pulvinar metus.
                    </p>
                    <div class="article-button">
                        <a href="#" class="article-link">Read full article</a>
                    </div>
                </div>
            <% } %>
        <% } %>
    </main>

    <button class="showMoreBtn">Load More</button>

    <section id="submitbox">
        <form action="" method="POST">
            <h2 class="title">Do you Want To Submit Something?</h2>
            <input type="text" name="name" id="username" placeholder="Enter your name">
            <input type="email" name="email" id="useremail" placeholder="Enter your email address">
            <textarea name="content" id="usercontent" cols="100" rows="3" placeholder="Type here"></textarea>
            <input type="file" name="file" id="userfile">
            <button class="submitBtn" type="submit">Submit</button>
        </form>
    </section>

    <%- include('partials/footer') %>
</body>
</html>