<%- include('partials/commonheadtag') %>

    <link rel="stylesheet" href="/stylesheets/video.css">
    <link rel="stylesheet" href="/stylesheets/selectionbar.css">
    <link rel="stylesheet" href="/stylesheets/video_card.css">
</head>
<body>
    <%- include('partials/header') %>

    <section id="top-content">
        <img class="thumbnail-top-image" src="images/video_thumbnail_image.jpg" alt="Video Thumbnail">
        <p class="thumbnail-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia cum odit, minima natus blanditiis deserunt nam ratione ullam eveniet sequi exercitationem facere quaerat in aperiam
        </p>
    </section>

    <svg id="top_svg" viewBox="0 0 1440 846" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- <svg id="top_svg" width="1440" height="846" viewBox="0 0 1440 846" fill="none" xmlns="http://www.w3.org/2000/svg"> -->
        <g filter="url(#filter0_d)">
        <path d="M591 45.2452C393 3.24519 118.5 154.079 6 234.745V635.245C348.5 666.745 283 714.245 430.5 769.745C578 825.245 989 722.245 1049.5 651.245C1097.9 594.445 1329.67 651.912 1439.5 687.745V266.245C1397.33 285.579 1270.3 312.645 1099.5 266.245C886 208.245 838.5 97.7452 591 45.2452Z" fill="#D1CEC5"/>
        </g>
        <defs>
        <filter id="filter0_d" x="-52" y="0" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <!-- <filter id="filter0_d" x="-52" y="0" width="1531.5" height="845.55" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"> -->
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
        <feOffset dx="-9" dy="11"/>
        <feGaussianBlur stdDeviation="24.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
        </filter>
        </defs>
    </svg>

    <%- include('partials/selectionbar') %>

    <main class="cards-grid">

        <% if (videos.length > 0) {%>
            <% videos.forEach(video => { %>
                <div class="card">
                    <div class="thumbnail-div">
                        <img class="thumbnail-image" src="/images/thumbnail_1.png" alt="Video Thumbnail">
                    </div>
                    <div class="body-div">
                        <h2 class="title">
                            <%= video.title %>
                        </h2>
                        <div class="bottom-div">
                            <div class="video-info">
                                <p class="length"><%= video.length %></p>

                                <% const d = new Date(video.createdAt) %>                               
                                <% const date = moment(d).format('ll') %>   
                                <p class="date"><%= date %></p>
                            </div>
                            
                            <div class="video-button">
                                <a class="video-button-link" href="<%= video.link %>" target="_blank">
                                    <img src="/images/play_button.png" alt="" class="play-button">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <div class="card">
                <div class="body-div">
                    <h2 class="title">There are no videos to display</h2>
                </div>
            </div>
        <% } %>
        
    </main>

    <button class="showMoreBtn">Load More</button>

    <%- include('partials/footer') %>
</body>
</html>